<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Productlistapi\Api\ProductRepositoryInterface" type="Training\Productlistapi\Model\ProductRepository"/>
    <preference for="Training\Productlistapi\Api\Data\ProductInterface" type="Training\Productlistapi\Model\Data\Product"></preference>
</config>
